
body {
  background-color: #A4A4A4;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
    padding-top: 50px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #3bc492;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #c0392b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.img-circle {
    height: 200px;
    width: auto;
    border-radius: 50%;
}

.col-lg-2{
    display: block;
}

/*Intro content*/
.col-lg-2 p{
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    font-size: 20px;
    text-align: center;
}

.sm{
    width: 50px;
    height: 50px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 55%;
}

.smm{
    width: 40px;
    height: 40px;
    margin:5px 5px 0 10px;
    border-radius: 55%;
    vertical-align: middle;
}

.navbar-brand{
    height: 50px;
    padding: 0;
    
}

#triangle-topright {
	width: 0;
	height: 0;
	border-top: 100px solid red;
	border-left: 100px solid transparent;

}

.skillnode{
    
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

table{
    table-layout: fixed;
    width: 95%;
    align-self: center;
    margin-left: auto; 
    margin-right: auto;
}



.skillList td{
/*    border: 1px solid black;*/
    width: 20%;
    overflow: auto;
    vertical-align: top;
    text-align: center;
}

.accordion-inner ul{
    width: 95%;
    float:inherit;
    list-style-type: none;
    align-content: center;
    list-style-position: inside;
    margin: auto;
    display: block;
    padding-left: 0;
}
.accordion-inner li{
    padding: 2px;
    color: black;
    /*background: #009999;*/
	margin: 5px 0px;
	display: block;
	text-align: center;
	border-radius: 1px;
    padding: 0 2px;
    
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background-color: #34495e;
	padding-top: 60px;
}

#headerwrap h1 {
	margin-top: 30px;
	color: white;
	font-size: 70px;
	
}

#headerwrap h3 {
	color: white;
	font-size: 30px;
}

#headerwrap h5 {
	color: white;
	font-weight: 700;
	text-align: left;
}

#headerwrap p {
	text-align: left;
	color: white
}

/* intro Wrap */

#intro {
	padding-top: 50px;
	border-top: #bdc3c7 solid 5px;
}

#projects {
	padding-top: 50px;
	padding-bottom: 50px;
}

#projects .ac a{
	font-size: 20px;
}

/* Showcase Wrap */

#showcase {
	display: block;
	background-color: #34495e;
	padding-top: 50px;
	padding-bottom: 50px;
}

#showcase h1 {
	color: white;
}

#footerwrap {
	background-color: #2f2f2f;
	color: white;
	padding-top: 40px;
	padding-bottom: 60px;
	text-align: left;
}

#footerwrap h3 {
	font-size: 28px;
	color: white;
}

#footerwrap p {
	color: white;
	font-size: 18px;
}

/* Copyright Wrap */

#c {
	background: #222222;
	padding-top: 15px;
	text-align: right;
    height: 60px;
}

#c p {
	color: white
}

