---
---

@import "{{ site.theme }}";

/* Make content wider and centered on desktop */
main {
  max-width: 100ch !important;
  margin: 0 auto !important;
  width: 90% !important;
}

/* Even wider on large screens */
@media (min-width: 1200px) {
  main {
    max-width: 140ch !important;
    width: 85% !important;
  }
}

@media (min-width: 1600px) {
  main {
    max-width: 160ch !important;
    width: 80% !important;
  }
}
