<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self'{% if site.tracking.matomo.url %} {{ site.tracking.matomo.url }}{% endif %}{% if site.tracking.plausible.url %} {{ site.tracking.plausible.url }}{% endif %}; connect-src 'self'{% if site.tracking.matomo.url %} {{ site.tracking.matomo.url }}{% endif %}{% if site.tracking.plausible.url %} {{ site.tracking.plausible.url }}{% endif %}; img-src 'self' https:; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src https://fonts.gstatic.com{{ site.csp_extra }}" />
    <meta http-equiv="X-XSS-Protection"  content="1;mode=block" always />
    <meta http-equiv="Referrer-Policy" content="no-referrer, strict-origin-when-cross-origin" />
    {%- include head.html -%}
    <link rel="shortcut icon" type="image/png" href="{{ '/img/favicon-16x16.png' | relative_url }}">
    <style>
      /* Override theme's 600px max-width */
      .container {
        max-width: none !important;
        width: 95% !important;
      }

      @media (min-width: 1600px) {
        .container {
          width: 90% !important;
        }
      }
    </style>
  </head>
  <body>
    <div class="container">
      {%- include header.html -%}
      <main>
        {{ content }}
      </main>
      {%- include footer.html -%}
    </div>
  </body>
</html>
